meta(charset='utf-8')
title SafeEntry
link(rel='stylesheet', href='/assets/css/v2/pass.css')
//- Favicon
link(rel='icon', href='/assets/favicon.svg', sizes='any', type='image/svg+xml')
//- Fonts
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
//- Scripts
script(src='/assets/js/qr-scanner.umd.min.js')
//- Analytics
script(async, defer, data-domain=domain, src='https://plausible.io/js/plausible.js')
