meta(charset='utf-8')
title SafeEntry
//- Favicon
link(rel='icon', href='/assets/favicon.svg', sizes='any', type='image/svg+xml')
//- Fonts
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
//- Analytics
script(async, defer, data-domain=domain, src='https://plausible.io/js/plausible.js')
