#This Source Code Form is subject to the terms of the Mozilla Public
#License, v. 2.0. If a copy of the MPL was not distributed with this
#file, You can obtain one at http://mozilla.org/MPL/2.0/.

[Unit]
Description=Unsafe-Entry

[Service]
ExecStart=/usr/bin/env node /var/www-node/unsafe-entry/index.js
Restart=on-failure
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
User=root
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www-node/unsafe-entry/

[Install]
WantedBy=multi-user.target