//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at https://mozilla.org/MPL/2.0/.
doctype html
head
  include includes/entry_head.pug
#useHeader
  #useLogo
    img#useLogoImage(src='/assets/images/v1/se-logo-navbar.svg')
#useContent
  #usePass
    #usePassFullContent
      script.
        document.getElementById("qrScanElement").style.display = 'block';
        function saveConfig() {
          if (typeof(Storage) !== "undefined") {
            localStorage.setItem("sePhone", document.getElementById("sePhoneInput").value);
            localStorage.setItem("seNric", document.getElementById("seNricInput").value.toUpperCase());
            alert("Saved.");
          } else {
            alert("No storage support.");
          }
        }
      p#sePhoneLabel Phone Number
      input#sePhoneInput(name='sePhoneInput', type='text')
      p#seNricLabel NRIC
      input#seNricInput(name='seNricInput', type='text')
      br
      button#seConfigButton(onclick='saveConfig()') Save settings
      hr
      a(href='/') Back home
