//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at https://mozilla.org/MPL/2.0/.
doctype html
head
  include includes/entry_head.pug
#useHeader
  #useLogo
    img#useLogoImage(src='/assets/images/v1/se-logo-navbar.svg')
#useContent
  #usePass
    #usePassFullContent
      video#qrScanElement
      script.
        QrScanner.WORKER_PATH = 'assets/js/qr-scanner-worker.min.js'
        const qrScanner = new QrScanner(document.getElementById("qrScanElement"), result => {
          qrScanner.stop()
          window.location = "/parse?referer=%2Fentry&seUrl=" + result
        });
        function startQrScan(){
        qrScanner.start()
        document.getElementById("qrScanElement").style.display = 'block'
        }
        function submitSeUrl(){
        let seUrl = document.getElementById("qrUrlInput").value
        window.location = "/parse?referer=%2Fentry&seUrl=" + seUrl
        }
        function submitSePass(){
        let sePass = document.getElementById("qrPassInput").value
        window.location = "/pass/latest/entry?venue=" + sePass
        }
      button#qrScanButton(onclick='startQrScan()') Scan QR Code
      p#qrUrlTitle or enter the QR URL here
      input#qrUrlInput(name='qrUrlInput', type='text')
      br
      button#seUrlButton(onclick='submitSeUrl()') Submit URL
      p#qrPassTitle or enter custom Pass text
      input#qrPassInput(name='qrPassInput', type='text')
      br
      button#sePassButton(onclick='submitSePass()') Create Pass
      hr
      a(href='/qr') Quick scan
      hr
      a(href='/se/config') Configure SafeEntry
      br
      a(href='/se/qr') Quick scan (Submit with SafeEntry)
      hr
      a(href='https://github.com/jqnxyz/unsafe-entry') UnsafeEntry Github
