//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at https://mozilla.org/MPL/2.0/.
doctype html
head
  meta(charset='utf-8')
  title SafeEntry
  link(rel='stylesheet', href='assets/css/v2/pass.css')
  //- Favicon
  link(rel='icon', href='assets/favicon.svg', sizes='any', type='image/svg+xml')
  //- Fonts
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  //- Scripts
  script(src='assets/js/qr-scanner.umd.min.js')
#useHeader
  #useLogo
    img#useLogoImage(src='assets/images/v1/se-logo-navbar.svg')
#useContent
  #usePass
    #usePassFullContent
      video#qrScanElement
      script.
        QrScanner.WORKER_PATH = 'assets/js/qr-scanner-worker.min.js'
        const qrScanner = new QrScanner(document.getElementById("qrScanElement"), result => {
          qrScanner.stop()
          window.location = "/parse?seUrl=" + result
        });
        function startQrScan(){
        qrScanner.start()
        document.getElementById("qrScanElement").style.display = 'block'
        }
        function submitSeUrl(){
        let seUrl = document.getElementById("qrUrlInput").value
        window.location = "/parse?seUrl=" + seUrl
        }
      button#qrScanButton(onclick='startQrScan()') Scan QR Code
      p Or enter the QR URL here
      input#qrUrlInput(name='qrUrlInput', type='text')
      br
      button#seUrlButton(onclick='submitSeUrl()') Submit URL
      br
      a(href='/qr' style='margin-top:1vh') Quick scan
