#useHeader, #useContent {
	width: 100vw;
	align-content: center;
	text-align: center;
    font-family: 'Roboto', sans-serif;
}

#useHeader {
	width: 100vw;
}

#useLogo {
	width: 100%;
    height: 8vh;
}

#useLogoImage {
	vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    white-space: nowrap;
    height: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#useBanner {
	width: 100%;
	background-color: #1c9747;
	color: #ffffff;
    height: 8vh;
}

#useBannerIcon {
	margin-right: 2vw;
    top: 0.5vh;
    font-size: 3vh;
    position:relative
}

#useBannerText {
	font-size: 3vh;
	margin: 0;
    padding-top: 2vh;
    padding-bottom: 2.5vh;
    display: inline-block;
    position:relative;
}

#useContent {
	margin-top: 2vh;
}

/* use Pass*/
#usePass {
	color: #1b1c1e;
	padding-left: 5vw;
	padding-right: 5vw;
}

#usePassFullContent {
	background-color: #dddddd;
	border-radius: 5vw;
	height: 70vh;
}

/* Upper use Pass*/
#usePassLogo {
	background-color: #1c9747;
	border-radius: 5vw 5vw 0 0;
	height: 35vh;
}

#usePassLogoImage {
    max-width: 80%;
	vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    white-space: nowrap;
    height: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* Lower use Pass */
#usePassContent {
	background-color: #dddddd;
	border-radius: 0 0 5vw 5vw;
	height: 35vh;
}

#usePassContentTexts {
	padding-top: 2vh;
}

.usePassText {
	margin: 0;
}

#usePassContentLocation {
    font-size: 3vh;
}

#usePassContentDate {
    font-size: 6vh;
    margin-top: 3vh;
    font-weight: bold;
}

#usePassContentTime {
    font-size: 5vh;
    margin-top: 2vh;
}

#usePassGovTech {
	height: 3vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#usePassGovTechImage {
	vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    white-space: nowrap;
    height: 100%;
}
